{% extends "base.html" %}

{% block title %}Filton{% endblock title %}

{% block specifika %}


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="red">Ali res želiš izbrisati to sporočilo?</h1>
                <form method="post">
                    <br /><button class="btn btn-danger" type="submit">DA, izbriši</button> <a class="btn btn-dark" href="/">Prekliči!</a>
                </form>  
            </div>
        </div>
    </div>
    
{% endblock specifika %}
