{% extends "base.html" %}

{% block title %}Filton{% endblock title %}

{% block specifika %}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="red">Ali res želiš izbrisati to sporočilo?</h1>
                <form method="post">
                    <br /><button type="submit">DA, izbriši</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/" class="row"><br />
                    << Nazaj</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock specifika %}
