{% extends "base.html" %}

{% block title %}Seznam gostov{% endblock title %}

{% block specifika %}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="row" id="guest-list">
                        <h2>Seznam gostov:</h2>
                    </div>

                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Ime</th>
                                    <th scope="col">Priimek</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Datum vnosa</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    
                                </tr>
                            </thead>
                            {% for guest in list %}
                                <tbody>
                                    <tr>

                                        <td>{{ guest.name }}</td>
                                        <td>{{ guest.surname }}</td>
                                        <td>{{ guest.email }}</td>
                                        <td>{{ guest.createDate.strftime("%d. %m. %Y ob %H:%M") }}</td>
                                        <td><a href="/read/{{ guest.key.id() }}">Poglej sporočilo</a></td>
                                        <td><a href="/message/{{ guest.key.id() }}">uredi</a></td>
                                        <td><a href="/delete/{{ guest.key.id() }}">izbrisi</a></td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock specifika %}