{% extends "base.html" %}

{% block title %}Filton{% endblock title %}

{% block specifika %}

<div class="container">
    <div class="container">
        <div class="row">

            {% if notice %}

            <div class="notice {{ classConfirm }}">{{ notice }}</div>

            {% endif %}

        </div>
        <div class="row">
            <div class="col-12">
                <div class="row mb-3 center">
                    <p>
                        Vpiši svoje podatke in sporočilo!
                    </p>
                </div>

                <form method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Ime</span>
                        </div>
                        {% if name %}
                            <input type="text" class="form-control" value="{{ name }}" placeholder="Ime" id="name" name="name" aria-label="ime" aria-describedby="basic-addon1">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Ime" id="name" name="name" aria-label="ime" aria-describedby="basic-addon1">
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Priimek</span>
                        </div>
                        {% if surname %}
                            <input type="text" class="form-control" value="{{ surname }}" placeholder="Priimek" id="surname" name="surname" aria-label="surname" aria-describedby="basic-addon1">
                        {% else %}
                            <input type="text" class="form-control" placeholder="Priimek" id="surname" name="surname" aria-label="surname" aria-describedby="basic-addon1">
                        {% endif %}
                    </div>            
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        {% if surname %}
                            <input type="text" class="form-control" value="{{ email }}" placeholder="email" id="email" name="email" aria-label="email" aria-describedby="basic-addon1">
                        {% else %}
                            <input type="text" class="form-control" placeholder="email" id="email" name="email" aria-label="email" aria-describedby="basic-addon1">
                        {% endif %}
                    </div>
                    {% if message %}
                        <textarea class="form-control {{ class }}" cols="132" placeholder="Type your message here" id="message" name="message">{{ message }}</textarea><br />
                    {% else %}
                        <textarea class="form-control {{ class }}" cols="132" placeholder="Type your message here" id="message" name="message"></textarea><br />
                    {% endif %}
                    <button class="btn btn-dark" type="submit">Vnesi</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br /><a class="btn btn-dark" href="/">Prekliči!</a>
        </div> 
    </div>
</div>

{% endblock specifika %}
